@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

@layer base {
    html,body,#app {
        font-family: 'spotifyinternal-artistnpv-spotify-circular', sans-serif;
        @apply h-full antialiased bg-black min-w-[759px]
    }
    
    @font-face {
        font-family: spotifyinternal-artistnpv-spotify-circular;
        font-style: normal;
        font-weight: 400;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-Book.woff2)
    }
    
    @font-face {
        font-family: spotifyinternal-artistnpv-spotify-circular;
        font-style: normal;
        font-weight: 700;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-Bold.woff2)
    }
    
    @font-face {
        font-family: spotifyinternal-artistnpv-spotify-circular;
        font-style: normal;
        font-weight: 900;
        src: url(https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-Black.woff2)
    }
    .wrapper{
        height: calc(100vh - 90px);
        @apply flex
    }
    .bgimg{
        background-image:url(https://i.scdn.co/image/ab6775700000ee850d8934d06959380ede197038);
    }
    .headerImg{
        background-image:url(https://seed-mix-image.spotifycdn.com/v6/img/rock/3eedpDhV8pocvTvTHLGq9R/tr/default);
    }
    .itemImg{
        background-image:url(https://i.scdn.co/image/94b0c5f23272e9ed7ba7790271de20b2c0d28b39);
    }
    .musicImg{
        background-image: url(https://i.scdn.co/image/ab67616d00004851896c2176f22d9b1ba4d75749);
    }
    .footerItem{
        @apply text-normalColor hover:text-white cursor-pointer h-4 w-4
    }
    .clipText{
        overflow:hidden;
    }
    .showChilds:nth-child(4),
    .showChilds:nth-child(5),
    .showChilds:nth-child(6) {
      @apply !block
    }
}